<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risky Biscuits</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contactus.css') }}">
</head>
<body>

    
    <header>
       <a href="http://www.sky.com" target="_blank" rel="noopener noreferrer"><img src="{{ url_for('static', filename='images/Sky_Master_Brand_Logo_LARGE_RGB-2.png') }}" alt="Logo" class="logo-left"></a>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/Risky Biscuits.png') }}" alt="Risky Biscuits Logo" class="logo-right"></a>
        <div class="container">
            <a href="{{ url_for('week1') }}"><button>Week 1</button></a>
            <a href="{{ url_for('week2') }}"><button>Week 2</button></a>
            <a href="{{ url_for('week3') }}"><button>Week 3</button></a>
            <a href="{{ url_for('week4') }}"><button>Week 4</button></a>
            <a href="{{ url_for('week5') }}"><button>Week 5</button></a>
        </div>
    </header>
    <div class="content">
        

        <!-- Enter Any Information below here and Style it how you like -->
        

        <!-- Enter Any Information below here and Style it how you like -->
        
        <h2>Let's Stay connected!</h2>
        <img src="{{ url_for('static', filename='images/network.jpeg') }}">
        <p>
            Pearl:
            <br>
            <a href="mailto:pearl.marfatia@sky.uk">pearl.marfatia@sky.uk</a>
            <a href="https://www.linkedin.com/in/pearl-m365">LinkedIn:pearl-m365</a>
            <br>
            <br>
            Steven:
            <br>
            <a href="mailto:Steven.Briggs@sky.uk">Steven.Briggs@sky.uk</a>
            <a href="https://www.linkedin.com/in/stebriggs">LinkedIn:stebriggs</a>
            <br>
            <br>
            Riya:
            <br>
            <a href="mailto:riya.kapoor@sky.uk">Riya.Kapoor@Sky.uk</a>
            <a href="https://www.linkedin.com/in/riya-kapoor12">LinkedIn:riya-kapoor12</a>
            <br>
            <br>
            Sidhra:
            <br>
            <a href="mailto:sidhra.shaikh@sky.uk">Sidhra.Shaikh@Sky.uk</a>
            <a href="https://www.linkedin.com/in/sidhra-shaikh-9476a91bb/">LinkedIn:sidhra-shaikh-9476a91bb/</a>

        </p>

       


        <!-- Entering content after here will affect the layout of the page and will be outside the border -->
    </div>
    
    <footer>
        <div class="container_footer">
            <a href="{{ url_for('contactus') }}"><button>Contact Us</button></a>
            <a href="{{ url_for('aboutus') }}"><button>About Us</button></a>
            <a href="{{ url_for('qa') }}"><button>Q&A</button></a>
        </div>
    </footer>
</body>
</html>