<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risky Biscuits</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='week4.css') }}">
</head>
<body>

    
    <header>
       <a href="http://www.sky.com" target="_blank" rel="noopener noreferrer"><img src="{{ url_for('static', filename='images/Sky_Master_Brand_Logo_LARGE_RGB-2.png') }}" alt="Logo" class="logo-left"></a>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/Risky Biscuits.png') }}" alt="Risky Biscuits Logo" class="logo-right"></a>
        <div class="container">
            <a href="{{ url_for('week1') }}"><button>Week 1</button></a>
            <a href="{{ url_for('week2') }}"><button>Week 2</button></a>
            <a href="{{ url_for('week3') }}"><button>Week 3</button></a>
            <a href="{{ url_for('week4') }}"><button>Week 4</button></a>
            <a href="{{ url_for('week5') }}"><button>Week 5</button></a>
        </div>
    </header>
    <div class="content">
        
        <!-- <h2>Python Fundamentals</h2>

        <p>

        </p> -->

        

        <!-- Enter Any Information below here and Style it how you like -->
        
        <h2>Python Flask Framework and Jinja templates</h2>
        <p>
            <figure>
                <img src="{{ url_for('static', filename='images/rdbms and flask.png') }}" id="drawing">
                <!-- <figcaption id="simplecap"> An illustration of how we connect to RDBMS. </figcaption> -->
            </figure>
            <ul id="list">
                Flask:
                <li>Handles HTTP requests from browsers</li>
                <li>Processes user input</li>
                <li>Generates HTML content</li>
                <li>Manages user sessions</li>
                <li>Interacts with the database to store and retrieve data</li>
            </ul>
        </p>
        <h3>What is Flask?</h3>
        <p>
            Flask is a lightweight Python (micro) Framework for web applications that provides basics for URL routing 
            and page rendering.

        </p>
        <figure>
            <img src="{{ url_for('static', filename='images/simpleflask.png') }}" id="simpleflask">
            <!-- <figcaption> A simple Flask Application. </figcaption> -->
        </figure>
        <h3>What is Jinja?</h3>
        <p>
            Jinja2 is a templating library that allows unnecessary duplication of HTML code using the render_template().
            Jinja templates must be stored in a specific way as shown below.   
        </p>
        <figure>
            <img src="{{ url_for('static', filename='images/templatestructure.png') }}" >
            <figcaption> Flask Structure </figcaption>
        </figure>
        <h4>
            Our attempt at Flask
        </h4>
        <figure>
            <img src="{{ url_for('static', filename='images/ourattmept.png') }}" >
            <figcaption>HTML loaded, however it was not recognising the CSS files.</figcaption>
        </figure>
        <figure>
            <img src="{{ url_for('static', filename='images/nextstage.png') }}" id="nextstg">
            
        </figure>
        <figure>
            <img src="{{ url_for('static', filename='images/ourstructure.png') }}" >
            <figcaption>Our structure mimics the one we were taught with an additional Javascript folder.</figcaption>
        </figure>
        <figure>
            <img src="{{ url_for('static', filename='images/runpython.png') }}" id="run">
        </figure>
        <figure>
            <img src="{{ url_for('static', filename='images/extendlayout.png') }}" id="lay">
            <figcaption id="layc">Suggested improvement to reduce duplicated code</figcaption>
        </figure>


        <!-- Entering content after here will affect the layout of the page and will be outside the border -->
    </div>

    
    <footer>
        <div class="container_footer">
            <a href="{{ url_for('contactus') }}"><button>Contact Us</button></a>
            <a href="{{ url_for('aboutus') }}"><button>About Us</button></a>
            <a href="{{ url_for('qa') }}"><button>Q&A</button></a>
        </div>
    </footer>
</body>
</html>