<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risky Biscuits</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='week5.css') }}">
</head>
<body>

    
    <header>
       <a href="http://www.sky.com" target="_blank" rel="noopener noreferrer"><img src="{{ url_for('static', filename='images/Sky_Master_Brand_Logo_LARGE_RGB-2.png') }}" alt="Logo" class="logo-left"></a>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/Risky Biscuits.png') }}" alt="Risky Biscuits Logo" class="logo-right"></a>
        <div class="container">
            <a href="{{ url_for('week1') }}"><button>Week 1</button></a>
            <a href="{{ url_for('week2') }}"><button>Week 2</button></a>
            <a href="{{ url_for('week3') }}"><button>Week 3</button></a>
            <a href="{{ url_for('week4') }}"><button>Week 4</button></a>
            <a href="{{ url_for('week5') }}"><button>Week 5</button></a>
        </div>
    </header>
    <div class="content">
        <h1>Secure By Design</h1>
        <hr>
                    
        <div class="responsive">
        <div class="Imagesweektwo">
                <a target="_blank" href="SDLC.png">
                <img src="{{ url_for('static', filename='images/SDLC.png') }}" alt="SDLC">
                </a>
        <div class="description">Secure Development Life Cycle:</div>
        <div class="desclist">
                <li>
                    Framework of actions and activities 
                </li>
                <br>
                <li>
                    Process aligns with secure development principles 
                </li>
               
        </div>
            </div>
                 </div>
                      </div>
                      
        <div class="responsive">
        <div class="Imagesweektwo">
                    <a target="_blank" href="{{ url_for('threatmodelling') }}">
                    <img src="{{ url_for('static', filename='images/Threatmodelling.png') }}" alt="Threat Modelling">
                    </a>
        <div class="description">Threat Modelling</div>
        <div class="desclist">
                <li>
                        Helps understand application and identifies bugs
                </li>
                <br>
                <li>
                        Helps determine threat mitigation techniques
                </li>
        
        </div>
            </div>
                </div>
                      
         <div class="responsive">
        <div class="Imagesweektwo">
                 <a target="_blank" href="{{ url_for('stride') }}">
                <img src="{{ url_for('static', filename='images/Stride.png') }}" alt="Stride">
                 </a>
        <div class="description">Stride</div>
        <div class="desclist">
                    <li>
                             Can be used to identify threats
                    </li>
                    <br>
                    <li>
                            Tampering issues if a larger project
                    </li>
        
        </div>
            </div>
                </div>
                      
        <div class="responsive">
        <div class="Imagesweektwo">
                <a target="_blank" href="Hacksplaining.png">
                <img src="{{ url_for('static', filename='images/Hacksplaining.png') }}" alt="Hacksplaining">
                </a>
        <div class="description">Hacksplaining</div>
        <div class="desclist">
                <li>
                     Comic book labs 
                </li>
                <br>
                <li>
                   Understood OWASP Top 10
                </li>
        </div>
            </div>
                 </div>
                      
        <div class="clearfix"></div>
    </div>
    
    <footer>
        <div class="container_footer">
            <a href="{{ url_for('contactus') }}"><button>Contact Us</button></a>
            <a href="{{ url_for('aboutus') }}"><button>About Us</button></a>
            <a href="{{ url_for('qa') }}"><button>Q&A</button></a>
        </div>
    </footer>
</body>
</html>