<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risky Biscuits</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='week1.css') }}">
</head>
<body>

    
    <header>
       <a href="http://www.sky.com" target="_blank" rel="noopener noreferrer"><img src="{{ url_for('static', filename='images/Sky_Master_Brand_Logo_LARGE_RGB-2.png') }}" alt="Logo" class="logo-left"></a>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/Risky Biscuits.png') }}" alt="Risky Biscuits Logo" class="logo-right"></a>
        <div class="container">
            <a href="{{ url_for('week1') }}"><button>Week 1</button></a>
            <a href="{{ url_for('week2') }}"><button>Week 2</button></a>
            <a href="{{ url_for('week3') }}"><button>Week 3</button></a>
            <a href="{{ url_for('week4') }}"><button>Week 4</button></a>
            <a href="{{ url_for('week5') }}"><button>Week 5</button></a>
        </div>
    </header>
    <div class="content">
        
        

        <!-- Enter Any Information below here and Style it how you like -->
        
        <h1>Agile Fundamentals</h1>
        <p></p>
        <hr>
                    
        <div class="responsive">
        <div class="Imagesweektwo">
                <a target="_blank" href="./AgileManifesto.jpg">
                <img src="{{ url_for('static', filename='images/AgileManifesto.jpg') }}" alt="agile">
                </a>
        <div class="description">The Agile Manifesto:</div>
        <div class="desclist">
                <li>
                    Consisting of 4 Values and 12 Principles
                </li>
                <li>
                    Agile requires a mindset shift
                </li>
                <li>
                    Agile is not a process in itself ,There are many Frameworks which can be used in different circumstnces
                </li>
        </div>
            </div>
                 </div>
                      </div>
                      
        <div class="responsive">
        <div class="Imagesweektwo">
                    <a target="_blank" href="moscow.jpg">
                    <img src="{{ url_for('static', filename='images/moscow.jpg') }}" alt="mosocw">
                    </a>
        <div class="description">MoSCoW Prioritisation</div>
        <div class="desclist">
                <li>
                    MoSCoW (Must Have, Should Have, Could Have, Won’t Have this time)
                </li>
                <li>
                    primarily used to prioritize requirements within a project.
                </li>
        
               
        </div>
            </div>
                </div>
                      
         <div class="responsive">
        <div class="Imagesweektwo">
                 <a target="_blank" href="./Scrum-Roles.jpg">
                <img src="{{ url_for('static', filename='images/Scrum-Roles.jpg') }}" alt="Scrum Roles">
                 </a>
        <div class="description">Fundamentals of Scrum</div>
        <div class="desclist">
                    <li>
                             Scrum Team Roles and their responsibilities
                    </li>
                    <li>
                            The Importance of Timeboxing
                    </li>
        

        </div>
            </div>
                </div>
                      
        <div class="responsive">
        <div class="Imagesweektwo">
                <a target="_blank" href="./alien-baby.jpg">
                <img src="{{ url_for('static', filename='images/alien-baby.jpg') }}" alt="alien baby">
                </a>
        <div class="description">DSDM- Dynamic Systems Development Method</div>
        <div class="desclist">
            <p>An agile code development approach that provides a framework for building and maintaining systems. DSDM is an iterative code method within which every iteration follows the rule that simply enough work is needed for every increment to facilitate movement to the following increment.</p>
            <h3>Eight principles of DSDM</h3>
            <ul>
                <li>Focus on the business need</li>
                <li>Deliver on time</li>
                <li>Collaborate</li>
                <li>Never compromise quality</li>
                <li>Build incrementally from firm foundations</li>
                <li>Develop iteratively</li>
                <li>Communicate continuously and clearly</li>
                <li>Demonstrate control</li>
            </ul>
            <p>DSDM is designed to be easily tailored and used in conjunction with traditional methods such as PRINCE2 or to complement other Agile approaches such as Scrum.</p>
        </div>
            </div>
                 </div>
                      
        <div class="clearfix"></div>

        <!-- Enter Any Information below here and Style it how you like -->


        <!-- Entering content after here will affect the layout of the page and will be outside the border -->
    </div>
    
    <footer>
        <div class="container_footer">
            <a href="{{ url_for('contactus') }}"><button>Contact Us</button></a>
            <a href="{{ url_for('aboutus') }}"><button>About Us</button></a>
            <a href="{{ url_for('qa') }}"><button>Q&A</button></a>
        </div>
    </footer>
</body>
</html>
