<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risky Biscuits</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static.css') }}">
</head>
<body>

    
    <header>
       <a href="http://www.sky.com" target="_blank" rel="noopener noreferrer"><img src="{{ url_for('static', filename='images/Sky_Master_Brand_Logo_LARGE_RGB-2.png') }}" alt="Logo" class="logo-left"></a>
        <a href="./index.html"><img src="{{ url_for('static', filename='images/Risky Biscuits.png') }}" alt="Risky Biscuits Logo" class="logo-right"></a>
        <div class="container">
            <a href="{{ url_for('week1') }}"><button>Week 1</button></a>
            <a href="{{ url_for('week2') }}"><button>Week 2</button></a>
            <a href="{{ url_for('week3') }}"><button>Week 3</button></a>
            <a href="{{ url_for('week4') }}"><button>Week 4</button></a>
            <a href="{{ url_for('week5') }}"><button>Week 5</button></a>
        </div>
    </header>
    <div class="content">
        <h1>Secure By Design</h1>
        <hr>
                    
        <div class="responsive">
        <div class="Imagesweektwo">
                <a target="_blank" href="OSCAR.png">
                <img src="{{ url_for('static', filename='images/OSCAR.png') }}" alt="OSCAR">
                </a>
        <div class="description">Systems Development Life Cycle:</div>
        <div class="desclist">
                <li>
                    A way of defining key components for a project
                </li>
                <li>
                    Created by our team for this showcase
                </li>
                <li>
                    A key constraint - Programming experience
                </li>
        </div>
            </div>
                 </div>
                      </div>
                      
        <div class="responsive">
        <div class="Imagesweektwo">
                    <a target="_blank" href="Requirements.png">
                    <img src="{{ url_for('static', filename='images/Requirements.png') }}" alt="Requirements">
                    </a>
        <div class="description">Threat Modelling</div>
        <div class="desclist">
                <li>
                        Functional (Non), Business, General
                </li>
                <li>
                        User Stories
                </li>
        
                <li>
                        Sprint one with MoSCoW priortization 
                                
                </li>
        </div>
            </div>
                </div>
                      
         <div class="responsive">
        <div class="Imagesweektwo">
                 <a target="_blank" href="Process Flow.png">
                <img src="{{ url_for('static', filename='images/Process Flow.png') }}" alt="Process Flow">
                 </a>
        <div class="description">Risk Treatment</div>
        <div class="desclist">
                    <li>
                             UML - Use Case, Sequence 
                    </li>
                    <li>
                            Practised using scenario 
                    </li>
        
                    <li>
                             Notations
                                
                    </li>
        </div>
            </div>
                </div>
                      
        <div class="responsive">
        <div class="Imagesweektwo">
                <a target="_blank" href="Hacksplaining">
                <img src="{{ url_for('static', filename='images/Stakeholder.png') }}" alt="P/I graph">
                </a>
        <div class="description">Stakeholder Power/Interest Graph</div>
        <div class="desclist">
                <li>
                     Looked at different types of stakeholders
                </li>
                <li>
                    Helped us understand business prespectives
                </li>
        
                 <li>
                     Considered different power/interests per stakeholder
                                
                </li>
        </div>
            </div>
                 </div>
                      
        <div class="clearfix"></div>
    </div>
    
    <footer>
        <div class="container_footer">
            <a href="{{ url_for('contactus') }}"><button>Contact Us</button></a>
            <a href="{{ url_for('aboutus') }}"><button>About Us</button></a>
            <a href="{{ url_for('qa') }}"><button>Q&A</button></a>
        </div>
    </footer>
</body>
</html>