body{
    background-image: url(./sky_background.jpg);
    background-repeat: cover;
  }
  body {
      
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
  }
  
  .container {
      width: 70%;
      margin: 0 auto;
      text-align: center;
  }
  
  .container button {    
     font-size: large;  
      display: inline-block;
      margin: 25px 10px;
      padding: 25px 50px;
      border-radius: 10px;
      border: 1px solid rgb(0, 0, 0);
      background-color: rgb(254, 227, 188);
      color: rgb(225, 100, 56);
      cursor: pointer;
  }
  
  
  .container button:hover {
      background-color: rgb(254, 227, 188);
  }
  
  .container_footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


  .container_footer button {      
    font-size: large;
    display: inline-block;
    margin: 25px 10px;
    padding: 25px 160px;
    border-radius: 10px;
    border-color: transparent;
    background-color: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    
}


.container_footer button:hover {
    background-color: rgb(254, 227, 188);
    color: rgb(225, 100, 56);
    border: 1px solid rgb(0, 0, 0);
}
  
  .content {
      display: flex;
      position:relative; 
      top:50px;
      background-color:white; 
      width: 97%;
      padding: 10px;
      padding-top: 20%;
      padding-bottom: 25%;
      margin: 30px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      /* text-align: center; */
  }
  
#centered-imgage {
    align-items: center;
    width: 70%;
}

.text-surrounding {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust the margin to create space between image and text */
}
.corner {
    width: 30%; /* Adjust the size as needed */
    height: 50%; /* Adjust the size as needed */
    font-size: 170%; /* Adjust the font size */
    margin: 5px; /* Add margin to create spacing between placeholders */
    position: relative;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.bottom-left {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

  /* .content img {
      width: 25%;
  } */
  
  /* .flexbox {
    display: flex;
    flex-direction: column;
  }
   */
  /* .content h3 { */
      /* color: rgb(255, 255, 255);
      text-align: center;
      width: 70%;
  } */
/* 
   .content h2 {
    color: rgb(255, 255, 255);
    text-align: center;
     width: 70%;
  } */

  header, footer {
                  padding: 10px 0;
      overflow: hidden;
  }
  
  header img, footer img {
      width: 15%;
  }
  
  .logo-left {
      float: left;
  }
  
  .logo-right {
      float: right;
  }
  
  header a, footer a {
      text-decoration: none;
  }

  
